* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}
.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-left: 2.778vw;
}
.button {
  margin-right: 1.944vw;
}
.button .button1 button {
  padding: 0.694vw 1.111vw;
  border-radius: 8px;
  color: #20484f;
  border: none;
  background-color: #b8e4da;
  cursor: pointer;
}
.button .button2 button {
  background-color: transparent;
  padding: 0.694vw 1.111vw;
  border: none;
  color: #fff;
  cursor: pointer;
}
.button1 {
  margin-right: 0.833vw;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #20484f;
  width: 100vw;
  height: 60px;
  color: #fff;
}
ul {
  list-style-type: none;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}
.menu li a {
  color: #fff;
  font-size: 0.972vw;
  text-decoration: none;
}

/* Features Blocks */

.left img {
  width: 42.083vw;
  height: 35.833vw;
}
.left {
  margin-left: 2.986vw;
  margin-right: 7.014vw;
  margin-top: 45px;
}
.row {
  display: flex;
  flex-direction: row;
}
.check img {
  width: 3.056vw;
  height: 3.056vw;
}
.right {
  width: 34.514vw;
  margin-top: 85px;
}
.right .pclass {
  margin-bottom: 44px;
}
.block1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
}
.block2 {
  display: flex;
  flex-direction: row;
}
.check {
  margin-right: 1.806vw;
}
.bth{
    margin-left: 10.417vw;
}
.desk {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 48px;
}
.desk-container {
  margin-top: 48px;
}
.bold {
  margin-bottom: 16px;
}
.desk1,
.desk2,
.desk3,
.desk4 {
  background-color: #20484f;
  color: #dcf2ed;
  width: 18.403vw;
  height: 329px;
  border-radius: 24px;
  padding: 30px 35px;
}
.desk1,
.desk2,
.desk3 {
  margin-right: 1.458vw;
}
.number {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 133px;
}
.approval {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}
.on {
  font-weight: 400;
  font-size: 12px;
}

/* Social Proof Logos */

.logos {
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
}
.sony {
  width: 11.111vw;
  height: 31.55px;
  margin-top: 77px;
}
.Louiviton {
  width: 14.792vw;
  height: 22px;
  margin-top: 82px;
}
.slack {
  width: 11.875vw;
  height: 74px;
  margin-top: 56px;
}
.facebook {
  width: 11.111vw;
  height: 29.04px;
  margin-top: 78px;
}

/* Page Header */

.page-header {
  margin: 106px 250px 120px 250px;
}
.page-header h6 {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #20484f;
  margin-bottom: 16px;
}
.page-header p {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #20484f;
}


/* Team Section */


.team-section{
    background-color: #FAFAFA;
    padding: 0 5.556vw;
    width: 100vw;
    height: 1280px;
    padding-top: 85px;
}
.team-card{
    margin-bottom: 16px;
}
.bth2{
    text-align: center;
    margin-bottom: 60px;
}.bth2 h2{
    margin-bottom: 16px;
}
.imgcard{
    width: 13.889vw;
    height: 13.889vw;
    margin-top: 47px;
    margin-bottom: 30px;
}
.card1{
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid rgba(32, 72, 79, 0.1);
    width: 26.875vw;
    height: 464px;
    text-align: center;
}
.card1 p{
  color: #20484F;
  font-weight: 400;
  font-size: 1.25vw;
}
.chief{
    margin-top: 8px;
    margin-bottom: 45px;
}
.mdi img{
    border: 1px solid rgba(16, 38, 42, 0.1);
    border-radius: 48px;
    width: 48px;
    height: 48px;
    padding: 10px;
}
.trcard{
    display: flex;
    gap: 2.778vw;
}
.ctas{
    text-align: center;
    padding-top: 68px;
    padding-bottom: 67px;
}
.ctas h5{
    margin-bottom: 28px;
}
.ctas h1{
    margin-bottom: 54px;
    font-weight: 700;
    font-size: 50px;
}
.start .start1 button{
    padding: 16px 36px 15px;
    background: #20484F;
    border-radius: 8px;
    border: none;
    color: #fff;
}
.Testimonials{
    display: flex;
}
.Testimonials .Ti{
    text-align: right;
    width: 50%;
}
.quotes{
    margin-left: 8.958vw;
    padding-top: 93px;
}
.quotes h3{
    margin-top: 53px;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 32px;
    width: 36.458vw;
    height: 120px;
}
.quotes h5{
    margin-bottom: 12px;
}

/* Images */


.bth3{
  text-align: center;
}
.bth3 h2{
  margin-bottom: 20px;
}
.images{
  margin-top: 48px;
}
.imagescard{
  display: flex;
}
.image1 img{
  width: 305.395px;
  height: 268.718px;
}
.image2 img{
  width: 285.005px;
  height: 369px;
}
.image3 img{
  width: 285.005px;
  height: 295.301px;
}
.image4 img{
  width: 285.005px;
  height: 329.414px;
}
.image1{
  margin-left: 29.002px;
  margin-right: 10.526px;
}
.image2{
  margin-top: 175.997px;
  margin-right: 35.136px;
}
.image3{
  margin-top: 27.994px;
}
.image4{
  margin-top: 173.995px;
  margin-right: 30.053px;
}

/* Hero Section */
.bth4 h2{
  font-weight: 700;
  font-size: 2.778vw;
  color: #072125;
  margin-bottom: 28px;
}
.bth4 p{
  font-weight: 400;
  font-size: 1.25vw;
  color: #20484F;
  margin-bottom: 28px;
}
.heroSection{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.heroImage img{
  width: 50vw;
  height: 56.597vw;
}
.signup{
  padding: 9.861vw 8.333vw 9.861vw 8.264vw;
}
.formclass input{
  padding: 12px 24px 12px 16px;
  width: 32.847vw;
  height: 3.542vw;
  border: 1px solid rgba(32, 72, 79, 0.1);
  border-radius: 8px;
}
.box input{
  width: 1.389vw;
  height: 1.389vw;
  border: 1px solid rgba(101, 132, 138, 0.523);
  border-radius: 4px;
}
.box{
  margin-bottom: 24px;
  display: flex;

  gap: 12px;
}
.formstitle .formlabel input{
margin-top: 15px;
margin-bottom: 24px;
color: rgba(92, 135, 142, 0.053);
font-weight: 400;
font-size: 1.25vw;
}
.button3 .button1 button{
  padding: 16px 36px 15px;
  border-radius: 8px;
  background-color: #20484F;
  color: white;
  border: none;
}


/* Tabs */

.tabs{
  margin-top: 60px;
  text-align: center;
}
.bth5 h2{
  font-weight: 700;
  font-size: 2.778vw;
  color: #072125;
  margin-bottom: 20px;
}
.bth5 p{
  font-weight: 400;
  font-size: 1.111vw;
  color: #072125;
  margin-bottom: 52px;
}
.newnav li a{
  display: flex;
}
.tabsimg img{
  width: 1223.92px;
  height: 495.59px;
}
.menu1{
  display: flex;
  justify-content: center;
  gap: 44px;
}
.menu1 li a{
  font-weight: 400;
  font-size: 1.25vw;
  color: #20484F;
  text-decoration: none;
}
.tabs hr{
  margin-left: 21.528vw;
}


/* Pricing */

.prcards{
  display: flex;
  padding: 0 8.333vw;
}
.pricing{
  margin-top: 60px;
}
.pricing h2{
  font-weight: 700;
  font-size: 2.778vw;
  color: #072125;
  margin-bottom: 60px;
  text-align: center;
}
.pricing3 h5{
  font-weight: 700;
  font-size: 1.25vw;
  color: #20484F;
  margin-bottom: 48px;
}
.pricing1 h5{
  font-weight: 700;
  font-size: 1.25vw;
  color: #20484F;
  margin-bottom: 48px;
}
.pricing2 h5{
  font-weight: 700;
  font-size: 1.25vw;
  color: #20484F;
  margin-bottom: 48px;
}
.price h1{
  font-weight: 700;
  font-size: 50px;
  color: #072125;
}
.price{
  display: flex;
  margin-bottom: 20px;
}
.price h4{
  margin-left: 8px;
  margin-top: 23px;
  color: #20484F;
  font-weight: 700;
  font-size: 24.005px;
}
.pricing1{
  background: #FAFAFA;
  border-radius: 24px;
  width: 26.875vw;
  height: 53.681vw;
  padding: 2.778vw 2.292vw 1.389vw 2.778vw;
  margin-right: 1.389vw;
}
.prp{
  font-weight: 400;
  font-size: 16px;
  color: #20484f;
  margin-bottom: 40px;
}
.prcheck1{
  margin-bottom: 170px;
}
.prcheck1 .pr1, .pr2, .pr3, .pr4{
  margin-top: 24px;
  display: flex;
}
.prcheck1 img{
  width: 24.005px;
  height: 24.005px;
  margin-right: 17px;
}
.prcheck2{
  margin-bottom: 75px;
}
.prcheck2 .pr1, .pr2, .pr3, .pr4, .pr5, .pr6{
  margin-top: 24px;
  display: flex;
}
.prcheck2 img{
  width: 24.005px;
  height: 24.005px;
  margin-right: 17px;
}
.prcheck3{
  margin-bottom: 25px;
}
.prcheck3 .pr1, .pr2, .pr3, .pr4, .pr5, .pr6, .pr7{
  margin-top: 24px;
  display: flex;
}
.prcheck3 img{
  width: 24.005px;
  height: 24.005px;
  margin-right: 17px;
}
.button4 button{
  width: 21.806vw;
  height: 4.028vw;
  padding: 1.111vw 7.361vw ;
  background: #20484F;
  border-radius: 8px;
  color: white;
  border: none;
  margin-bottom: 20px;
}
.pricing2{
  background: #FAFAFA;
  border-radius: 24px;
  width: 26.875vw;
  height: 53.681vw;
  padding: 2.778vw 2.292vw 1.389vw 2.778vw;
  margin-right: 1.389vw;
}
.pricing3{
  background: #FAFAFA;
  border-radius: 24px;
  width: 26.875vw;
  height: 53.681vw;
  padding: 2.778vw 2.292vw 1.389vw 2.778vw;
}

/* Forms */

.formstitle{
  background-color: #DCF2ED;
  width: 100vw;
  height: 69.028vw;
  padding: 9.028vw 29.514vw;
  z-index: -1;
}
.formstitle img{
position: absolute;
}
.formstitle .img1{
  margin-top: -115px;
  margin-left: -400px;
}
.formstitle .img2{
  margin-top: 369px;
  margin-left: 608px;
}

.formbg{
  display: flex;
  padding: 4.167vw;
  background-color: white;
  width: 40.972vw;
  height: 50.903vw;
}
.formlabel  input{
width: 33.264vw;
height: 3.542vw;
padding: 1.111vw;
color: #072125;
}
.box2 input{
  width: 1.667vw;
  height: 1.667vw;
  border: 1px solid rgba(101, 132, 138, 0.523);
  border-radius: 4px;
}
.box2{
  margin-bottom: 2.222vw;
}
.formbg h3{
  color: #072125;
  margin-bottom: 3.333vw;
  font-size: 2.222vw;
}
.formbg form a{
  color: #20484F;
}
.button5 button{
  width: 33.333vw;
  height: 4.028vw;
  padding: 1.042vw 9.236vw;
  background: #20484F;
  border-radius: 8px;
  color: white;
  border: none;
  margin-bottom: 1.667vw;
}
.span{
  text-align: center;
}
.get{
  text-align: center;
}

/* Footers */


footer{
  background-color: #072125;
  width: 100vw;
}
footer .up{
  display: flex;
  flex-direction: row;
  padding: 4.861vw 13.194vw 4.167vw 8.333vw;
}
footer h3,h5{
  color: white;
}
footer p{
  color: #DCF2ED;
  margin-top: 1.667vw;
}
footer .up h3{
  margin-bottom: 2.708vw;
}
.up .rightUp{
  display: flex;
  flex-direction: row;
}
.up .leftUp{
  margin-right: 27.152vw;
}.up .rightUp .first, .second{
  margin-right: 5.208vw;
}
footer .down{
  padding: 0.694vw;
  text-align: center;
  color: #DCF2ED;
}
footer hr{
  border: 1px solid #B8E4DA;
  opacity: 0.2;
}
footer .rightUp h5{
  cursor: pointer;
}
button{
  cursor: pointer;
}